@import "~antd/dist/antd.css";

.App {
  background-color: rgb(201, 201, 201);
  margin: 10%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  height: 100vh;
  background-color: pink;
}
html {
  background-color: pink;
}
